nz-select {
  margin-right: 8px;
  width: 120px;
  background-color: #000;
}

// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: #000;
//   color: #fff;
//   font-size: 18px;
// }

// nz-select.ant-select.ng-tns-c95-0.ant-select-show-arrow.ant-select-single.ng-untouched.ng-pristine.ng-valid.ng-star-inserted {
// }
