<div class="film_muiltEpisode">
  <div class="title">
    <h2>Phim bộ</h2>
    <p (click)="handleNavigate()">
      Xem tất cả <i class="eva eva-arrow-ios-forward-outline"></i>
    </p>
  </div>
  <div class="list_film">
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
    <app-box-film></app-box-film>
  </div>
</div>
