<div class="film_muiltEpisode">
  <div class="title">
    <h2>Phim bộ</h2>
    <p (click)="handleNavigate()">
      Xem tất cả <i class="eva eva-arrow-ios-forward-outline"></i>
    </p>
  </div>
  <div class="list_film">
    <ng-container *ngIf="arrayFilm.length > 0">
      <ng-container *ngFor="let film of arrayFilm; let i = index">
        <ng-container *ngIf="i < 10">
          <app-box-film [filmBox]="film"></app-box-film>
        </ng-container> </ng-container
    ></ng-container>
  </div>
</div>
