<div class="infor_film">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="infor">
      <div
        class="viewFilm"
        style="background-image: url({{ film.movie.poster_url }}) "
      >
        <div (click)="handleNavigate()" class="play-btn">
          <span nz-icon nzType="play-circle" nzTheme="outline"></span>
        </div>
        <div class="titleFilm">
          <img src="{{ film.movie.poster_url }}" />
          <div>
            <h3>{{ film.movie.name }}</h3>
            <p>{{ film.movie.origin_name }}</p>
            <button (click)="handleNavigate()">Xem Phim</button>
          </div>
        </div>
      </div>
    </div>
    <div class="infor_detail">
      <div class="rating">
        <nz-rate [ngModel]="0" [nzCount]="10"></nz-rate>
        <span>( 7.9 / 357 lượt )</span>
      </div>
      <div class="information">
        <p>
          Đang phát : <span>{{ film.movie.episode_current }}</span>
        </p>
        <p>
          Tổng số tập : <span>{{ film.movie.episode_total }}</span>
        </p>
        <p>
          Năm phát hành: <span>{{ film.movie.year }}</span>
        </p>
        <p>
          Quốc gia: <span>{{ film.movie.country[0].name }}</span>
        </p>
        <p>
          Thể Loại:
          <ng-container *ngFor="let cat of film.movie.category"
            ><span>{{ cat.name }}</span></ng-container
          >
        </p>
        <p>
          Đạo diễn: <span>{{ film.movie.director[0] }}</span>
        </p>
        <p>
          Chất Lượng: <span>{{ film.movie.quality }}</span>
        </p>
        <p>
          Thời lượng: <span>{{ film.movie.time }}</span>
        </p>
        <p>
          Diễn viên:<ng-container *ngFor="let cat of film.movie.actor"
            ><span>{{ cat }}</span></ng-container
          >
        </p>
      </div>
      <div class="description">
        <h3>Nội dung phim : {{ film.movie.name }}</h3>
        <br />
        <p>
          <span>{{ film.movie.name }}</span> {{ filmContent }}
        </p>
      </div>
      <div class="tag">
        <h3>Tag</h3>
        <br />
        <span>{{ film.movie.name }}</span>
        <span>{{ film.movie.origin_name }}</span>
      </div>
    </div>
  </div>
</div>
