<div class="footer">
  <div class="logo_footer">
    <img alt="" src="../../../assets/images/logoFilmm.png" />
  </div>
  <div class="list_footer">
    <div class="new_film">
      <h4>Phim mới</h4>
      <p>Phim chiếu rạp</p>
      <p>Phim lẻ</p>
      <p>Phim bộ</p>
    </div>
    <div class="good_film">
      <h4>Phim hay</h4>
      <p>Phim Mỹ</p>
      <p>Phim Nhật</p>
    </div>
    <div class="hot_film">
      <h4>Phim hot</h4>
      <p>Phimmoi</p>
    </div>
    <div class="help">
      <h4>Trợ giúp</h4>
      <p>Hỏi đáp</p>
      <p>Liên hệ</p>
      <p>Tin tức</p>
    </div>
    <div class="information">
      <h4>Thông tin</h4>
      <p>Điều khoản sử dụng</p>
      <p>Chính sách riêng tư</p>
      <p>Khiếu nạn bản quyền</p>
      <p>@ 2022</p>
    </div>
  </div>
</div>
