.watch {
  padding: 12px 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  .watch_movie {
    max-width: 1440px;
    height: 100%;
    .movie {
      width: 1440px;
    }
    .change_sever {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(44, 41, 41);
      div {
        padding: 7px;
        border: 1px solid rgb(217, 212, 212);

        span {
          font-size: 15px;
          color: black;
          background-color: #f1864c;
          padding: 5px 8px;
          margin-left: 5px;
        }
        .sever {
          background-color: black;
          color: #fff;
          &.active {
            background-color: #f2a900;
            color: #000;
          }
        }
      }
    }
    .episode_wrap {
      background-color: rgb(44, 41, 41);
      padding-bottom: 10px;
      .episode_number {
        padding-top: 30px;
        width: initial;
        background-color: #7e7e7e;
        padding-bottom: 30px;
        margin: 0 30px;
        border-radius: 5px;

        h3 {
          font-size: 20px;
          color: #f2a900;
          display: inline-block;
        }
        span {
          font-size: 20px;
          color: #f2a900;
          margin-right: 10px;
          margin-left: 20px;
        }
        .list-epis {
          padding: 0 20px;
          margin: 0 5px;
          .epis {
            cursor: pointer;
            width: 60px;
            padding: 6px 10px;
            background-color: rgb(33, 30, 30);
            color: #fff;
            margin-right: 20px;
            margin-left: 20px;
            display: inline-block;
            font-size: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            &.active {
              background-color: #f1864c;
              color: #fff;
            }
          }
        }
      }
    }
    .infor_watch {
      margin-top: 30px;
      .rating {
        span {
          font-size: 20px;
          color: #fff;
          margin-right: 20px;
        }
        .rate {
          font-size: 25px;
          color: #f1864c;
        }
      }
      h2 {
        font-size: 30px;
        color: #f2a900;
      }
      .subTitle {
        font-weight: 700;
        color: #fff;
        font-size: 22px;
      }
      .description {
        color: #fff;
        padding: 8px;
        background-color: rgb(49, 38, 38);
        font-size: 18px;
        span {
          color: #f1864c;
        }
      }
    }
    .suggest_film {
      h2 {
        margin: 20px 0;
        font-size: 25px;
        color: #f2a900;
      }
      .film {
        app-box-film {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
}
